<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
<form method="POST" th:action="@{/task}" th:object="${task}">
<h1>Add Task</h1>
<label for="name">Name your task:</label>
<input id="name" name="taskName" type="text"/>
    <br>
    <label for="description">Description your task:</label>
    <input id="description" name="taskDescription" type="text"/>
    </br>
    <label for="date">Date your task:</label>
    <input id="date" name="taskDate" type="date"/>
    <br>
    <button>Add task</button>
    </br>
</form>
</body>
</html>