<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tasks Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
<h1>Your tasks</h1>

<form>
<p th:if="${taskList == null or taskList.isEmpty()}">
    No items available
</p>
<ul th:if="${taskList != null and not taskList.isEmpty()}">
    <div th:each="task : ${taskList}">
        <input th:type="checkbox" th:text="${task.name}"></input>
        <ul th:text="${task.descriptions}"></ul>
    </div>
</ul>
</form>
<form method="POST" th:object="${task}">
    <h1>Add Task</h1>
    <label for="name">Name your task:</label>
    <input id="name" name="name" type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error</span>
    <br>
    <label for="description">Description your task:</label>
    <input id="description" name="description" type="text" th:field="*{descriptions}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('descriptions')}"
          th:errors="*{descriptions}">Description Error</span>
    </br>
    <label for="date">Date your task:</label>
    <input id="date" name="date" type="date" th:field="*{date}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}">Data Error</span>
    <br>
    <button>Add task</button>
    </br>
</form>
</body>
</html>