<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tasks Page</title>
</head>

<body>
<h1>Your tasks</h1>

<form method="POST" th:object="${tasksList}">
  <button>Submit Your Task</button>
</form>
<form>
<p th:if="${tasksList == null or tasksList.tasks.isEmpty()}">
    No items available
</p>
<ul th:if="${tasksList != null and not tasksList.tasks.isEmpty()}">
    <div th:each="task : ${tasksList.tasks}">
        <input th:type="checkbox" th:text="${task.name}"></input>
        <ul th:text="${task.descriptions}"></ul>
    </div>
</ul>
</form>
</body>
</html>